stazioni.dtd

<!---
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE stazioni [
<!ELEMENT stazioni (stazione+)>
<!ELEMENT stazione (comune, provincia, regione, nome)>
<!ATTLIST stazione id CDATA #REQUIRED>
<!ELEMENT comune (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT regione (#PCDATA)>
<!ELEMENT nome (#PCDATA)>
]>
-->